{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form id="user_create" method="POST">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter passsword" required>
                </div>
                <div class="form-group">
                    <label>Pesel</label>
                    <input type="text" class="form-control" id="pesel"
                           onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                           onkeydown="return ( event.ctrlKey || event.altKey
                                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                                    || (95<event.keyCode && event.keyCode<106)
                                    || (event.keyCode==8) || (event.keyCode==9)
                                    || (event.keyCode>34 && event.keyCode<40)
                                    || (event.keyCode==46) )"
                           maxlength="11"
                           placeholder="Enter PESEL number" required>
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name" required>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name" required>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input type="date" class="form-control" id="birthday" required>
                </div>
                <div class="form-group">
                    <label>Progamming language</label>
                    <input type="text" class="form-control" id="programmingLanguages" placeholder="Enter programming languages e.g. Python,Java,C++" required>
                </div>
                <button type="submit" class="btn btn-primary">Create user</button>
                <a href="/" class="btn btn-primary">Back</a>
            </form>
        </div>
        <div class="col-2"></div>
    </div>

    <script src="{{ asset('js/form_send.js') }}"></script>
{% endblock %}