{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Netinteractive - recruitment </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="/user/add">Add user</a>
        <a class="btn btn-primary" href="/user/list">Get list users</a>
    </div>
</div>
{% endblock %}