{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-1">
                    Id
                </div>
                <div class="col-2">
                    Email
                </div>
                <div class="col-1">
                    Pesel
                </div>
                <div class="col-2">
                    FirstName
                </div>
                <div class="col-2">
                    LastName
                </div>
                <div class="col-1">
                    Age
                </div>
                <div class="col-1">
                    CreatedFrom
                </div>
                <div class="col-1">
                    Programming Languages
                </div>
                <div class="col-1">
                    Active
                </div>
            </div>
            <div class="row" id="userList"></div>
            <div class="row">
                <div class="col-12">
                    <label for="createdAt">Choose day created user</label>
                    <select id="createdAt">
                        <option value="0">All users</option>
                        <option value="3">3 days ago</option>
                        <option value="7">7 days ago</option>
                        <option value="30">30 days ago</option>
                    </select>
                </div>
                <div class="col-12">
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/list_user.js') }}"></script>
{% endblock %}